<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @economy_carriage.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @economy_carriage.type %>
</p>

<p>
  <strong>Attached to the train:</strong>
  <%= @economy_carriage.train.number %>
</p>

<p>
  Top seats:
  <%= @economy_carriage.top_seats %>
</p>

<p>
  Bottom seats:
  <%= @economy_carriage.bottom_seats %>
</p>

<p>
  Side top seats:
  <%= @economy_carriage.side_top_seats %>
</p>

<p>
  Side bottom seats:
  <%= @economy_carriage.side_bottom_seats %>
</p>

<%= link_to 'Back', [:admin, @economy_carriage.train] %>
