<h2><%= t('.title') %></h2>

<%= form_with(model: [:admin, @railway_station], local: true) do |form| %>

  <%= render 'common/errors', resource: @railway_station %>

  <div class="field">
    <%= form.text_field :title, class: 'form-control col-3' %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('common.back'), admin_railway_stations_path %>
