<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @coupe_carriage.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @coupe_carriage.type %>
</p>

<p>
  <strong>Attached to the train:</strong>
  <%= @coupe_carriage.train.number %>
</p>

<p>
  Top seats:
  <%= @coupe_carriage.top_seats %>
</p>

<p>
  Bottom seats:
  <%= @coupe_carriage.bottom_seats %>
</p>

<%= link_to 'Edit', edit_coupe_carriage_path(@coupe_carriage) %> |
<%= link_to 'Back', :back %>
