<%= form_with(model: [:admin, @route], local: true) do |form| %>
  <%= render 'common/errors', resource: @route %>

  <div class="field">
    <%= form.label 'Stations' %>
    <%= form.select :railway_station_ids, RailwayStation.all.map { |s| [s.title, s.id] }, {}, multiple: true,
    class: 'form-control col-3' %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
