<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<% if @route.trains.empty? %>
  <p><strong>No trains on this route</strong></p>
<% else %>
  <strong>Trains on the route:</strong>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<% end %>

<% if @route.railway_stations.empty? %>
  <strong>No stations on the route</strong>
<% else %>
  <table>
    <thead>
      <tr>
        <td width='100px'>Station</td>
        <td>Position</td>
        <td>Arrival</td>
        <td>Depart</td>
      </tr>
    </thead>
    <tbody>
    <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><%= station.title %></td>
        <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
          <td>
            <%= number_field_tag :position, station.position_in(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
          </td>
          <td><%= time_field_tag :arrival, station.arrival_in(@route) %></td>
          <td>
            <%= time_field_tag :depart, station.depart_in(@route) %>
            <%= submit_tag 'save' %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<p>
  <%= link_to 'Edit', edit_admin_route_path(@route) %> |
  <%= link_to 'Back', admin_routes_path %>
</p>
