<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Train on the Station:</strong>
  <% if @train.railway_station.nil? %>
    Train is not on the station
  <% else %>
    <%= @train.railway_station.title %>
  <% end %>
</p>
<p>
  <strong>Train on the route:</strong>
    <% if @train.route.nil? %>
      Train is not on the route
    <% else %>
      <%= @train.route.name %>
    <% end %>
</p>

<p>
  <strong>Cupe carriages quantity:</strong>
  <%= @train.carriages.find_all { |carriage| carriage.type == 'CoupeCarriage'}.count %>
</p>

<p>
  Top seats:
  <% seats = 0 %>
  <% @train.carriages.find_all { |carriage| carriage.type == 'CoupeCarriage'}.each do |cupe| %>
    <% seats += cupe.top_seats %>
  <% end %>
  <%= seats %>
</p>

<p>
  Bottom seats:
  <% seats = 0 %>
  <% @train.carriages.find_all { |carriage| carriage.type == 'CoupeCarriage'}.each do |cupe| %>
    <% seats += cupe.bottom_seats %>
  <% end %>
  <%= seats %>
</p>

<strong>Economy carriages quantity:</strong>
  <%= @train.carriages.find_all { |carriage| carriage.type == 'EconomyCarriage'}.count %>
  <p>
    Top seats:
    <% seats = 0 %>
    <% @train.carriages.find_all { |carriage| carriage.type == 'EconomyCarriage'}.each do |economy| %>
      <% seats += economy.top_seats %>
    <% end %>
    <%= seats %>
  </p>
  <p>
    Bottom seats:
    <% seats = 0 %>
    <% @train.carriages.find_all { |carriage| carriage.type == 'EconomyCarriage'}.each do |economy| %>
      <% seats += economy.bottom_seats %>
    <% end %>
    <%= seats %>
  </p>
  <p>
    Side top seats:
    <% seats = 0 %>
    <% @train.carriages.find_all { |carriage| carriage.type == 'EconomyCarriage'}.each do |economy| %>
      <% seats += economy.side_top_seats %>
    <% end %>
    <%= seats %>
  </p>
  <p>
    Side bottom seats:
    <% seats = 0 %>
    <% @train.carriages.find_all { |carriage| carriage.type == 'EconomyCarriage'}.each do |economy| %>
      <% seats += economy.side_bottom_seats %>
    <% end %>
    <%= seats %>
  </p>

<strong>SV carriages quantity:</strong>
  <%= @train.carriages.find_all { |carriage| carriage.type == 'SvCarriage'}.count %>
  <p>
    Bottom seats:
    <% seats = 0 %>
    <% @train.carriages.find_all { |carriage| carriage.type == 'SvCarriage'}.each do |sv| %>
      <% seats += sv.bottom_seats %>
    <% end %>
    <%= seats %>
  </p>

<strong>Seated carriages quantity:</strong>
<%= @train.carriages.find_all { |carriage| carriage.type == 'SeatedCarriage'}.count %>
  <p>
    Bottom seats:
    <% seats = 0 %>
    <% @train.carriages.find_all { |carriage| carriage.type == 'SeatedCarriage'}.each do |seated_carriage| %>
      <% seats += seated_carriage.seated_seats %>
    <% end %>
    <%= seats %>
  </p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
