<%= form_with(model: [:admin, @train, @seated_carriage], local: true) do |form| %>
  <%= render 'common/errors', resource: @seated_carriage %>

  <div class="field">
    <%= form.label "Seated seats" %>
    <%= form.text_field :seated_seats, class: 'form-control col-3' %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
