<%= form_with(model: [:admin, @train, @seated_carriage], local: true) do |form| %>
  <%= render 'common/errors', resource: @seated_carriage %>

  <div class="field">
    <%= form.label "Seated seats" %>
    <%= form.text_field :seated_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
