<h1>Users</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'show', user %></td>
        <td><%= link_to 'delete', user, method: :delete, data: { confirm: 'are u sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New user', new_user_path %>
<p><%= link_to 'Back to main', welcome_index_path %></p>