<h1>welcome</h1>
<p><%= link_to "Trains", admin_trains_path %></p>
<p><%= link_to "Routes", admin_routes_path %></p>
<p><%= link_to "Railway_stations", admin_railway_stations_path %></p>

<% if user_signed_in? && current_user.admin? %>
  <p><%= link_to "Tickets", admin_tickets_path %></p>
<% else %>
  <p><%= link_to "Tickets", tickets_path %></p>
<% end %>

<p align='center'><%= link_to 'Search tickets', new_search_path %></p>
