<h1>Welcome Rails</h1>
<%= link_to "Trains", trains_path %>
<%= link_to "Routes", routes_path %>
<%= link_to "Railway_stations", railway_stations_path %>
<%= link_to "Users", users_path %>
<%= link_to "Tickets", tickets_path %>
<p align='center'><%= link_to 'Search', new_search_path %></p>
