<p><%= link_to t('common.trains'), admin_trains_path %></p>
<p><%= link_to t('common.routes'), admin_routes_path %></p>
<p><%= link_to t('common.railway_stations'), admin_railway_stations_path %></p>

<% if user_signed_in? && current_user.admin? %>
  <p><%= link_to t('common.tickets'), admin_tickets_path %></p>
<% else %>
  <p><%= link_to t('common.tickets'), tickets_path %></p>
<% end %>

<p align='center'><%= link_to t('.search_tickets'), new_search_path %></p>
