<h1>Welcome Rails</h1>
<%= link_to "Trains", trains_path %>
<%= link_to "Routes", routes_path %>
<%= link_to "Railway_stations", railway_stations_path %>
<%= link_to "Carriages", carriages_path %>
<%= link_to "Tickets", tickets_path %>
