<%= form_with(model: @ticket, local: true) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label 'passanger' %>
    <%= form.text_field :passanger %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
