<%= form_with(model: @ticket, local: true) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label "Route:  #{@route.name}" %>
  </div>

  <div class="field">
    <%= form.label "Train:  #{@train.number}" %>
  </div>

  <div class'field'>
    <%= form.hidden_field :train_id, value: @train.id %>
  </div>

  <div class='field'>
    <%= form.label "choise your account" %>
    <%= form.collection_select :user_id, User.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label 'first name' %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label 'last name' %>
    <%= form.text_field :last_name %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
