<%= form_with(model: @ticket, local: true) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label 'passanger' %>
    <%= form.text_field :passanger %>
  </div>

  <div class="field">
    <%= form.label 'first station' %>
    <%= form.collection_select :first_station, RailwayStation.all, :title , :title %>
  </div>

  <div class="field">
    <%= form.label 'last station' %>
    <%= form.collection_select :last_station, RailwayStation.all, :title , :title %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
