<p><strong>Ticket bought</strong></p>

<p>
  <strong>First name:</strong>
  <%= @ticket.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ticket.last_name %>
</p>

<p>
  <strong>Route:</strong>
  <%= @ticket.route %>
</p>

<p>
  <strong>Train:</strong>
  <%= @ticket.train.number %>
</p>

<%= link_to 'Back', tickets_path %>
