<p id="notice"><%= notice %></p>

<p>
  <strong>Passanger:</strong>
  <%= @ticket.passanger %>
</p>

<p>
  <strong>First station:</strong>
  <%= @ticket.first_station %>
</p>

<p>
  <strong>Last station:</strong>
  <%= @ticket.last_station %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
