<p><strong>Ticket bought</strong> <%= @ticket.user.email %></p>

<p>
  <strong>Passenger name:</strong>
  <%= @ticket.first_name %>
</p>

<p>
  <strong>Passenger surname:</strong>
  <%= @ticket.last_name %>
</p>

<p>
  <strong>Route:</strong>
  <%= @ticket.train.route.name %>
</p>

<p>
  <strong>Train:</strong>
  <%= @ticket.train.number %>
</p>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Back', admin_tickets_path %>
<% else %>
  <%= link_to 'Back', tickets_path %>
<% end %>
