<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sv_carriage.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sv_carriage.type %>
</p>

<p>
  <strong>Attached to the train:</strong>
  <%= @sv_carriage.train.number %>
</p>

<p>
  Bottom seats:
  <%= @sv_carriage.bottom_seats %>
</p>

<%= link_to 'Edit', edit_sv_carriage_path(@sv_carriage) %> |
<%= link_to 'Back', :back %>
