<h1>Carriages</h1>

<table>
  <thead>
    <tr>
      <th>Number:</th>
      <thcolspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <%= render @carriages %>
  </tbody>
</table>

<br>

<%= link_to 'New coupe carriage', new_coupe_carriage_path %>
<%= link_to 'New economy carriage', new_economy_carriage_path %>
<%= link_to 'New SV carriage', new_sv_carriage_path %>
<%= link_to 'New seated carriage', new_seated_carriage_path %>