<%= form_with(model: @ticket, local: true) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label "Train" %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class'field'>
    <%= form.label "User" %>
    <%= form.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= form.label 'first name' %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label 'last name' %>
    <%= form.text_field :last_name %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
