<%= form_with(model: [:admin, @ticket], local: true) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label "Train" %>
    <%= form.collection_select :train_id, Train.all, :id, :number, {}, class: 'form-control col-3' %>
  </div>

  <div class'field'>
    <%= form.label "User" %>
    <%= form.collection_select :user_id, User.all, :id, :email, {}, class: 'form-control col-3' %>
  </div>

  <div class="field">
    <%= form.label 'Passenger name' %>
    <%= form.text_field :first_name, class: 'form-control col-3' %>
  </div>

  <div class="field">
    <%= form.label 'Passenger surname' %>
    <%= form.text_field :last_name, class: 'form-control col-3' %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
