<p id="notice"><%= notice %></p>

<p>
  <strong>Carriage ID:</strong>
  <%= @carriage.id %>
</p>

<p>
  <strong>type:</strong>
  <%= @carriage.type %>
</p>

<p>
  <strong>Attached to the train:</strong>
  <%= @carriage.train.number %>
</p>

<%= link_to 'Back', [:admin, @carriage.train] %>
