<% if @trains.nil? %>
  <h2>Trains not found</h2>
<% else %>
  <h2>Found trains:</h2><br>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td><strong>Train</strong></td>
        <td><strong>Route</strong></td>
        <td><strong>Stations</strong></td>
        <td><strong>Time Arrival-Depart</strong></td>
        <td><strong>Buy ticket</strong></td>
      </tr>
    </thead>
    <tbody>
      <% @routes.each do |route| %>
        <% route.trains.each do |train| %>
          <tr>
            <td><%= train.number %></td>
            <td><%= route.name %></td>
            <td>
              <% route.railway_stations.each do |station| %>
                <%= station.title %><br>
              <% end %>
            </td>
            <td>
              <% route.railway_stations.each do |station| %>
                <%= "#{station.arrival_in(route)} - #{station.depart_in(route)}" %><br>
              <% end %>
            </td>
            <td>
              <%= form_tag new_ticket_path, method: :get do %>
                <%= hidden_field_tag :train_id, train.id %>
                <%= submit_tag 'Buy', class: 'btn btn-primary' %>
              <% end %>
            </td>
          <tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
<br><br>

<p><%= link_to 'back to search', new_search_path, class: 'btn btn-primary' %></p>
