<%= form_with(model: @route, local: true) do |form| %>
  <%= render 'common/errors', resource: @route %>

  <div class="field">
    <%= form.label 'Stations' %>
    <%= form.select :railway_station_ids, RailwayStation.all.map { |s| [s.title, s.id] }, {}, multiple: true %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
