<%= form_with(model: @economy_carriage, local: true) do |form| %>
  <%= render 'common/errors', resource: @economy_carriage %>

  <div class="field">
    <%= form.label :train, "Attached to the train" %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= form.label :top_seats %>
    <%= form.text_field :top_seats %>
  </div>

  <div class="field">
    <%= form.label :bottom_seats %>
    <%= form.text_field :bottom_seats %>
  </div>

  <div class="field">
    <%= form.label "Side topseats" %>
    <%= form.text_field :side_top_seats %>
  </div>

  <div class="field">
    <%= form.label "Side bottom_seats" %>
    <%= form.text_field :side_bottom_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
