<!DOCTYPE html>
<html>
  <head>
    <title>Trains - Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p id='notice' class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <%= link_to t('common.logout'), destroy_user_session_path, method: :delete %>
    <p><%= t('.account')%> <%= current_user.email %></p>
  <% else %>
    <%= link_to t('common.login'), new_user_session_path %>
  <% end %>

    <%= yield %>
    <footer>
      &copy; Стас Литвиненко
    </footer>
  </body>

</html>
